<ion-grid style="width: 100%;">

  <ion-row>
  
    <ion-col size-xl="250" offset-xl="475" size-lg="350" offset-lg="425" size-md="450" offset-md="375" size-sm="550" offset-sm="325" size="800" offset="200">
      <ion-img src="https://cdn.iconscout.com/icon/free/png-512/avatar-380-456332.png"></ion-img>
    </ion-col>

  </ion-row>

  <ion-row>

    <ion-col size-lg="600" offset-lg="300" size-md="800" offset-md="200" size="1000" offset="100">
      
      <ion-list>

        <ion-item>
          <ion-label position="floating">Email <ion-text color="danger">*</ion-text></ion-label>
          <ion-input required type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Password<ion-text color="danger">*</ion-text></ion-label>
          <ion-input required type="text"></ion-input>
        </ion-item>

      </ion-list>

    </ion-col>

  </ion-row>

  <ion-row>
    <ion-col size-xl="200" offset-xl="375" size-md="300" offset-md='270' size-sm="350" offset-sm="215" size="400" offset="175"> 
      <ion-button class="fw" color='danger'>Forgot</ion-button>
    </ion-col>

    <ion-col size-xl="200" offset-xl="50"  size-md="300" offset-md="60" size-sm="350" offset-sm="70" size="400" offset="80"> 
      <ion-button class="fw" color='secondary'>Login</ion-button>
    </ion-col>

  </ion-row>

</ion-grid>