<ion-grid>

  <ion-row>


    <ion-col size-lg="8" offset-lg="2" size-md="10" offset-md="1">



      <ion-list>




        <ion-item>
          <ion-label color='secondary'>
            <h1>
              Bought 26 items
            </h1>
            <p>
            {{date | date}}
            </p>
          </ion-label>
          <ion-note slot="end" color='success'>
            <h3>
              {{12 | currency}}
            </h3>
          </ion-note>
        </ion-item>





      </ion-list>




    </ion-col>


  </ion-row>



</ion-grid>