<form [formGroup] = "userDetailForm">
<ion-grid>

  <ion-row>
    
    <ion-col class="ion-padding" size-sm = "8" size-md = "6" size-lg = "4" offset-sm = "2" offset-md="3" offset-lg="4" >
      <ion-img [src] = "'https://cdn.iconscout.com/icon/free/png-512/avatar-380-456332.png'"></ion-img>
    </ion-col>

  </ion-row>

  <ion-row>
    <ion-col class="ion-no-padding" size-md = "10" size-lg = "8"  offset-md="1" offset-lg="2" >
      
      
        <ion-list class="ion-padding">

          <ion-item>
            <ion-label position="floating">First Name<ion-text color="danger">*</ion-text></ion-label>
            <ion-input formControlName="firstName" type="text"></ion-input>
          </ion-item>


          <ion-item>
            <ion-label position="floating">Last Name<ion-text color="danger">*</ion-text></ion-label>
            <ion-input formControlName="lastName" type="text"></ion-input>
          </ion-item>
          
          <ion-item>
            <ion-label position="floating">Email<ion-text color="danger">*</ion-text></ion-label>
            <ion-input formControlName="email" type="text"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Address<ion-text color="danger">*</ion-text></ion-label>
            <ion-input formControlName="address" type="text"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">New Password</ion-label>
            <ion-input formControlName="password" type="password"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Old Password<ion-text color="danger">*</ion-text></ion-label>
            <ion-input formControlName="oldPassword" type="password"></ion-input>
          </ion-item>

          
        </ion-list>
        
    </ion-col>
  </ion-row>

</ion-grid>


<ion-grid>
  <ion-row>
    <ion-col offset-lg = "3" size-lg = "6" offset-md = "2" size-md = "8" offset = "1" size = "10">
      <ion-button style="width: 100%;" color="secondary" (click) = 'saveEdits()' [disabled]="!userDetailForm.valid">Save Edits</ion-button>
    </ion-col>
  </ion-row>

  
  <ion-row class="ion-padding-top">
    <ion-col offset-lg = "3" size-lg = "6" offset-md = "2" size-md = "8" offset = "1" size = "10">
      <ion-button style="width: 100%;" color="danger" (click) = 'logout()'>logout</ion-button>
    </ion-col>
  </ion-row>

</ion-grid>
</form>