<div class="seg-content-container">

<ion-grid class="seg-grid">
  
  <ion-row class="ion-margin-vertical">

    <ion-col size="8" offset="2">
      <ion-segment color='secondary' value='login'>
        <ion-segment-button value="login">Login</ion-segment-button>
        <ion-segment-button value= "sign-up">Sign up</ion-segment-button>
      </ion-segment>
    </ion-col>

  </ion-row>

  

</ion-grid>


<div class="content">
  <ion-grid style="width: 100%;">

    <ion-row>
    
      <ion-col size="4" offset="4">
        <ion-img src="https://cdn.iconscout.com/icon/free/png-512/avatar-380-456332.png"></ion-img>
      </ion-col>
  
    </ion-row>
  
    <ion-row>
  
      <ion-col size="6" offset="3">
        
        <ion-list>
  
          <ion-item>
            <ion-label>Email</ion-label>
            <ion-input></ion-input>
          </ion-item>
  
          <ion-item>
            <ion-label>Password</ion-label>
            <ion-input></ion-input>
          </ion-item>
  
        </ion-list>
  
      </ion-col>
  
    </ion-row>

  </ion-grid>
  
</div>

</div>