<div class="seg-content-container">

  <ion-grid class="seg-grid">
    
    <ion-row class="ion-margin-vertical">

      <ion-col size-lg="6" offset-lg="3" size-md="8" offset-md="2" size="10" offset="1">
        <ion-segment color='secondary' (ionChange)= 'segmentChange($event)' [value]='login'>
          <ion-segment-button [value]="login">Login</ion-segment-button>
          <ion-segment-button [value]= "signUp">Sign up</ion-segment-button>
        </ion-segment>
      </ion-col>

    </ion-row>

    

  </ion-grid>


  <div class="content">
    <app-login style="width: 100%;" *ngIf="segment===login"></app-login>
    <app-sing-up style="width: 100%;" *ngIf="segment===signUp"></app-sing-up>
  </div>

</div>