<ion-menu>

  <ion-header>
    <ion-toolbar>
      <ion-title class="ion-no-padding ion-text-center">
        Categories
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content *ngIf = "categories">

    <ion-list>

      <ion-menu-toggle *ngFor="let category of categories">
        <ion-item [routerLink]="['/', 'main', 'tabs', 'discover', 'category', category.id]">
          {{category.name}}
        </ion-item>
      </ion-menu-toggle>

    </ion-list>


  </ion-content>

</ion-menu>

<ion-app main>
  <ion-router-outlet></ion-router-outlet>
</ion-app>
