<ion-menu>

  <ion-header>
    <ion-toolbar>
      <ion-title class="ion-no-padding ion-text-center">
        Categories
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>

    <ion-list>

      <ion-menu-toggle>

        <ion-item [routerLink]="['/', 'main', 'tabs', 'discover', 'category']">
          Category1
        </ion-item>

        <ion-item [routerLink]="['/', 'main', 'tabs', 'discover', 'category']">
          Category1
        </ion-item>

        <ion-item [routerLink]="['/', 'main', 'tabs', 'discover', 'category']">
          Category1
        </ion-item>

      </ion-menu-toggle>

    </ion-list>


  </ion-content>

</ion-menu>

<ion-app main>
  <ion-router-outlet></ion-router-outlet>
</ion-app>
