<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start" [defaultHref] = "['/', 'main', 'tabs', 'discover']"></ion-back-button>
    <ion-title>search</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar (ionChange) = 'searchChanged($event)'></ion-searchbar>
  <ion-list>
    <ion-item *ngFor ='let item of items' detail [routerLink] = "['/', 'main', 'tabs', 'discover', 'product', item.id]">
      <ion-thumbnail slot="start">
        <ion-img [src]="item.imageSrc"></ion-img>
      </ion-thumbnail>
      <ion-label>
        <h1>{{item.name}}</h1>
        <p>{{item.price |currency}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
