<ion-header>
  <ion-toolbar>
    <ion-back-button [defaultHref] = "['/', 'main', 'tabs', 'discover']"  slot="start"></ion-back-button>
    <ion-title>category</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid class="ion-padding" *ngIf= "productItems">
    
    
    <ion-row>
      
      <ion-col
      size-lg="4"
      size-md="6"
      size = "12" 
      *ngFor = "let product of productItems"
      >
        <ion-card class="ion-text-center">
          
          <ion-card-header>
            <ion-card-title>Product</ion-card-title>
            <ion-card-subtitle>{{'420' | currency}}</ion-card-subtitle>
          </ion-card-header>

          <ion-img [src] = "product.imageSrc"></ion-img>
          <ion-card-content  class="ion-margin-top ion-no-padding">
            <!-- TODO remove the repetition for the card of products -->
            <p class="ion-padding">{{product.description}}</p>

            <ion-button fill="clear"
              color="primary" 
              class="ion-no-margin"
              style="margin-top: 4px; margin-bottom:2px"
              [routerLink] = "['/', 'main', 'tabs', 'discover', 'product', product.id]"
              >
              More
            </ion-button>

          </ion-card-content>

        </ion-card>
      </ion-col>

    </ion-row>

  </ion-grid>
</ion-content>
